<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbl6D6opLsQ-8-ROabBhJusXQ69ayWMu4</string>
	<key>GCM_SENDER_ID</key>
	<string>603110860598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TDS200</string>
	<key>PROJECT_ID</key>
	<string>travel-snap-47abd</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-snap-47abd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603110860598:ios:a2874043106bb73f017597</string>
</dict>
</plist>